.card{
   
    width:100%;
    text-align:center;
    
   
}
h1{
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.cen{
    text-align:center;
    margin-top:20px;
    margin-bottom:15px;
}

p{
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}
.cens{
    text-align:center;
    margin-top:10px;
    text-decoration:underline 2px blue;
    margin-bottom:25px;
    margin-top:10px;

}
a{
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    margin-bottom:10px;
}

.bg{
    background-color:aliceblue;
}